<!doctype html>

<html lang="nl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ site.title }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/imgfavicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/imgfavicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/imgfavicon/favicon-16x16.png" />
    <link rel="manifest" href="/assets/imgfavicon/site.webmanifest" />
    <link rel="shortcut icon" href="/assets/imgfavicon/favicon.ico" />

    {% if page.req_login %}
    <script type="module" src="{{ '/assets/js/login/gate-content.js' | relative_url }}"></script>
    {% endif %} {% if page.css %} {% for href in page.css %}
    <link rel="stylesheet" href="{{ href }}" />
    {% endfor %} {% endif %}
  </head>

  <body>
    <div class="layout">
      {% include nav.html %}
      <div class="page">
        {% include header.html %}
        <main class="container">{{ content }}</main>
        <footer>{% include footer.html %}</footer>
      </div>
    </div>
    <div class="ai_helper_overlay" aria-hidden="true"></div>

    <script src="/assets/js/site.js" defer></script>
    <script src="/assets/js/login/login-buttons.js" type="module"></script>

    {% if page.js %} {% for src in page.js %}
    <script
      src="{{ src }}"
      {%
      if
      page.module_js
      %}
      type="module"
      {%
      else
      %}
      defer{%
      endif
      %}
    ></script>
    {% endfor %} {% endif %}
  </body>
</html>
